.titulo h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.sicarios{
    border: 1px solid #dadada;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    transition: 0.5s;
}

.sicarios:hover{
    transform: scale(1.1);
}

.sicarios a img{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

.sicarios a{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.icono img{
    width: 150px;
    height: 150px;
}

.descripcion{
    padding: 20px;
    margin-top: 30px;
    color: white;
}