.box{
	height: 200px;
	background: url(../images/1.jpg);
	position: relative;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;



}

.box .porfile img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #fff;
	position: absolute;
	top: 50%;
	left: 5%;
}

.box .name h1{
	position: absolute;
	top: 110%;
	left: 35%;
	font-variant: small-caps;
	
}

.sobre-mi{
	padding-top: 100px;
	background: #e0e0e0;
	border-top: 5px solid #fff;
	padding-bottom: 50px;

}

.sobre-mi h2{
	padding: 10px;
	font-variant: small-caps;

}

.sobre-mi a{
	display: inline-block;
	margin: 15px 0;
	background:  #3e2723;
	padding: 10px;
	text-decoration: none;
	border-radius: 10px;
	color: #fff;
	box-shadow: 0 0 5px #fff inset;
	float: right;

}

.sobre-mi a:active{
	box-shadow: 0 0 10px #fff inset;

}

.caja{
		margin: 50px;
}
legend{
	border: 1px solid #000;
	border-radius: 10px;
	padding: 5px;
	background: #3e2723;
	font-variant: small-caps;
	font-size:20px;




